.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF;
}

.input_field {
  display: flex;
  align-items: center;
  height: 50px !important;
  width: 100%;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #0099cc;
  margin-bottom: 20px;
  padding-left: 10px;
}

.input {
  height: calc(100% - 4px);
  height: 50px;
  width: 100%;
  background: transparent;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border: none;
  margin: 0 1px 0 10px;
  outline: none;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  align-items: baseline;
  width: 100%;
}

.category {
  border: 1px solid #0099CC;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 0 6px 6px 6px;
}

.grid_container_logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: baseline;
}

.grid_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #FFF;
  padding: 0;
  margin: 0;
}

.subtitle {
  display: inline-block;
  background-color: #0099CC;
  padding: 10px 20px;
  border-radius: 6px 6px 0 0;
}

.grid_content span {
  font-size: 0.75rem;
  text-align: center;
}

button.icon {
  background: transparent;
  border: none;
  border-radius: 6px;
  padding: 16px;

  cursor: pointer;
}

button.icon:hover {
  background: #F4F8F9;
}

button.icon:focus {
  outline: none;
  outline-style: none;
}

.modal_container {
  /* position: absolute; */
  position: fixed;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;
}

.modal_container.active {
  display: flex;
}

.modal_content {
  width: 600px;
  margin-top: 40px;
  background: #FFFFFF;
  border-radius: 6px;
}

.modal_content .header {
  padding: 20px;
  display: flex;
}

.modal_content .header h3 {
  margin: 0;
  text-align: left;
  cursor: pointer;
}

.modal_content .code {
  padding: 20px;
  background: #001E3C;
  color:#FFFFFF;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal_content .code p {
  margin: 0;
  text-align: left;
  cursor: pointer;
}

.modal_content .content {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.modal_content .content .icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 40px 0;
}

.modal_content .content .main_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content .content .size_icons {
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
}

.modal_content .content .size_icons h4 {
  font-weight: bold;
}

.modal_content .content .size_icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.modal_content .content .size_icons p {
  font-size: 14px;
}

.modal_content .content .size_icons span {
  font-size: 10px;
  opacity: 0.5;
}

.modal_content .content button {
  background: transparent;
  border: none;
  color: #0099CC;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
}